@page
@model M05_UF3_P2_Template.Pages.Products.GameModel
@using M05_UF3_P2_Template.App_Code.Model
@{
}


<form method="post">
    <button type="submit" class="btn btn-primary float-right"><span class="material-icons">save</span></button>
    <input type="text" asp-for="game.Product_Id" />
    <input type="number" step="any" asp-for="game.Rating" />
    <input type="text" asp-for="game.Version" />
  

</form>