@page
@model M05_UF3_P2_Template.Pages.Products.ProductModel
@using M05_UF3_P2_Template.App_Code.Model
@{
    
}

<form method="post">               
    <input type="text" asp-for="product.Summary"/>
    <input type="float" step="any" asp-for="product.Price"/>
    <input type="number" asp-for="product.Size"/>
    <input type="number" asp-for="product.Developer_id"/>
    <input type="number" asp-for="product.Editor_id"/>
    <a class="btn btn-primary float-right" asp-page="/Products/Game" asp-route-id="@Model.Game_Id" title="Edit Game"><span class="material-icons text-white">edit</span></a>
    <a class="btn btn-primary float-right" asp-page="/Products/Video" asp-route-id="@Model.Video_Id" title="Edit Video"><span class="material-icons text-white">smart_display</span></a>
    
    <button type="submit" class="btn btn-primary float-right"><span class="material-icons">save</span></button>
</form>
