@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <thead>
            <tr>
                <th>
                    Col1
                </th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < 100; i++)
            {
                <tr>
                    <th>
                        @i
                    </th>
                    <th>
                        Col2
                    </th>
                </tr>
                
            }
        </tbody>
    </table>
</div>
